@charset "utf-8";

body { font-family: 'Raleway', 'Gothic A1' , 'Yeseva One'; font-size: 1.6rem; line-height: 1.5; color: #fff; background: #121212; overflow-x: hidden; }
.clearfix:after { content: ''; display: block; clear: both; }

.inner { max-width: calc(100% - 220px); margin: 0 auto; } /* 지정된 사이즈 */
.inner_100 { max-width: 100%; margin: 0 auto; } /* 100% 사이즈 */

@media (max-width:1600px) {
    .inner { max-width: calc(100% - 160px); }
}

@media (max-width:1400px) {
    .inner { max-width: calc(100% - 140px); }
}

@media (max-width:1200px) {
    .inner { max-width: calc(100% - 120px); }
}

@media (max-width:1024px) {
    .inner { max-width: calc(100% - 100px); }
}

@media (max-width:768px) {
    .inner { max-width: calc(100% - 40px); }
}  /* 모바일 */

@media (max-width:320px) {
    .inner { max-width: calc(100% - 20px); }
}

/* header */
#header { width: 100%; height: 120px; }
#header .inner { height: 120px; align-items: center; display: flex; justify-content: space-between; }
#header h1 { font-size: 2.4rem; transition: color 0.5s; }
#header h1 a { transition: color 0.5s; }
#header h1:hover a { color: #FF8605; }
#header .gnb li { float: left; padding-left: 140px; }
#header .gnb > li > a { display: block; padding: 10px; font-size: 1.8rem;  font-family: 'Yeseva One'; }

#header .gnb > li:nth-child(1) a { color: #FF8605; }

@media (max-width:1200px) {
    #header h1 { font-size: 2.0rem; } 
} 

@media (max-width:768px) {
    #header h1 { font-size: 1.6rem; } 
} 

/* 모바일메뉴 */
#header .ham { display: none; width: 30px; height: 30px; cursor: pointer; font-size: 0; }  /* 폰ㅌ 사이즈0을 주면 요소가 없다고 인식할 수 있기 때문에 가로, 세로 줘야함 */
#header .ham span { position: relative; display: inline-block; width: 25px; height: 2px; background: #fff; transition: background 0.5s; }
#header .ham span:before { content: ''; display: block; width: 30px; height: 2px; background: #fff; position: absolute; right: 0; top: 10px; transition: background 0.5s; }
#header .ham span:after { content: ''; display: block; width: 15px; height: 2px; background: #fff; position: absolute; right: 0; top: 20px; transition: background 0.5s; }

#header .ham:hover span { background: #FF8605; }
#header .ham:hover span:before { background: #FF8605; }
#header .ham:hover span:after { background: #FF8605; }

#header .mgnb_wrap {width: 100%; height: 100%; position: fixed; left: 0; top: 0; background: rgba(0, 0, 0, 0.8); z-index: 99; }
#header .mgnb { padding: 150px 50px; position: absolute; top: 0; right: 0; width: 70%; height: 100%; background: #000; }
#header .mgnb ul li { padding: 20px 0; font-family: 'Yeseva One'; font-size: 1.6rem; }
#header .mgnb ul li a { transition: color 0.5s; }
#header .mgnb ul li:hover a { color: #FF8605; }
#header .mgnb .close { position: absolute; right: 30px; top: 30px; width: 80px; padding: 5px 0; text-align: center; background: #000; color: #fff; cursor: pointer; border: 1px solid #fff; font-size: 1.2rem; transition: color 0.5s,border 0.5s; }
#header .mgnb .close:hover { border: 1px solid #FF8605; color: #FF8605; }


@media (max-width:1200px){
    #header .gnb { display: none; }
    #header .ham { display: block; }
}

@media (max-width:400px){
    #header .mgnb ul li { padding: 10px 0; }
}

#header .m_search .inner { border: 1px solid #6F6F6F; width: 100%; height: 45px; margin: 10px 0; }
#header .m_search input[type="text"] { font-family: 'Raleway', serif; font-size: 1.6rem; width: 260px; height: 43px; padding: 10px; background: #000; color: #fff;  }
#header .m_search input[type="submit"] { font-family: 'Gothic A1', serif; width: 40px; height: 43px; background: #6F6F6F url('../images/search_2.png') no-repeat left 50% top 50%; text-indent: -9999px; cursor: pointer; }

@media (max-width:430px){
    #header .m_search .inner { height: 40px; margin: 10px 0; }
    #header .m_search input[type="text"] { width: 165px; height: 35px; }
    #header .m_search input[type="submit"] { width: 80px; height: 38px; }
}


/* search */
.search { z-index: 99; width: 100%; height: 100%; background: rgba(0, 0, 0, 1); position: fixed; left: 0; top: 0; }
.search .inner { position: absolute; left: 50%; top: 45%; transform: translateX(-50%); border: 1px solid #FF8605; }
.search input[type="text"] { font-family: 'Raleway', serif; font-size: 2rem; width: 700px; height: 60px; padding: 20px; background: #000;  }
.search input[type="submit"] { font-family: 'Gothic A1', serif; width: 80px; height: 60px; background: url('../images/search_1.png') no-repeat left 50% top 50%;  text-indent: -9999px; cursor: pointer; }


.search  .search_close { position: absolute; right: 90px; top: 30px; }
.search  .search_close span { display: block; position: relative; width: 50px; height: 50px; background: #fff; font-size: 0; border-radius: 50%; transition: background 0.5s; }
.search  .search_close span:before { position: absolute; left: 20%; top: 25px; content: ''; display: block; width: 60%; height: 1px; background: #000; transform: rotate(45deg); transition: background 0.5s; }
.search  .search_close span:after { position: absolute; left: 20%; top: 25px; content: ''; display: block; width: 60%; height: 1px; background: #000; transform: rotate(-45deg); transition: background 0.5s; }

.search  .search_close:hover span { background: rgba(255, 255, 255, 0.8); }
.search  .search_close:hover span:before { background: #FF8605; }
.search  .search_close:hover span:after { background: #FF8605; }

@media (max-width:1600px){
    .search input[type="text"] { width: 500px; }
    .search input[type="submit"] { width: 60px; height: 60px; }
}

@media (max-width:1200px){
    .search input[type="text"] { width: 300px; height: 40px; }
    .search input[type="submit"] { width: 40px; height: 40px; }
}

@media (max-width:700px){
    .search input[type="text"] { width: 150px; height: 40px; font-size: 1.3rem; }
    .search input[type="submit"] { width: 40px; height: 40px; }
}

/* container */
#container section .inner { position: relative; display: flex; justify-content: space-between; flex-wrap: wrap; }
#container h3 { font-family: 'Yeseva One'; font-size: 3.6rem; text-align: center; }
#container .box { width: 30%; }
#container h2 { text-indent: -99999px; position: sticky; left: 0; top: 120px; width: 40%; height: 598px; }
#container .h2_01 { background: url('../images/About.png') no-repeat; }
#container .h2_02 { background: url('../images/logo.png') no-repeat; }

@media (max-width:1600px){
    #container h3 { font-size: 3.0rem; text-align: center; }
    
}

@media (max-width:1370px){
    #container section .inner { justify-content: center; }
    #container .box { position:static; left: 0; top: 0px; width: 100%; height: 130px; }
    #container h2 { width: 27%; }
    #container .h2_01 {background: url('../images/About_2.png') no-repeat; background-size: contain; width: 20%; }
    #container .h2_02 { background: url('../images/logo_2.png') no-repeat; background-size: contain; width: 16%; }

}

@media (max-width:1200px){
    #container .box { height: 100px; }
    #container h3 { font-size: 2.0rem; text-align: center; }
}

@media (max-width:1000px){
    #container .box { height: 80px; }
    #container h3 { font-size: 2.0rem; text-align: center; }
}

@media (max-width:768px){
    #container .box { height: 60px; }
    #container h3 { font-size: 1.6rem; text-align: center; }  
}

@media (max-width:510px){
    #container .box { height: 40px; }   
}


/* about */
#about { padding: 150px 0 150px; }
#about .about_01 { width: 70%; }
#about .about_01 img { width: 100%; }

#about .about_txt { word-break: keep-all; font-size: 2.0rem; }
#about h3 { text-align: left; padding: 25px 0; }

@media (max-width:1400px){
    #about .about_txt { font-size: 1.6rem; }
}


@media (max-width:1370px){
    #about .about_01 { width: 100%; }
    
}

@media (max-width:1200px){
    #about { padding: 50px 0 50px; }
    #about .about_txt { font-size: 1.4rem; }
}

@media (max-width:768px){
    #about { padding: 25px 0 50px; }
    #about .about_txt { font-size: 1.3rem; }
    
}

/* logo */
#logo { padding: 150px 0; background: #141414; }
#logo .year_all { width: 70%; position: relative; }
#logo .year { margin: 0 auto; display: flex; justify-content: space-between; flex-wrap: wrap; }
#logo .year li { width: calc((100% - 40px)/3); text-align: center; position: relative;  }
#logo .year li img { width: 100%; padding-bottom: 10px; }

#logo .logo_year { transition: opacity 0.5s,color 0.5s; opacity: 0; width: 100%; height: 100%; display: block; background: rgba(0, 0, 0, 0.6); position: absolute; left: 0; top: 0; color: #fff; text-align: center;  display: flex; align-items: center; }

#logo .logo_year P { font-size: 1.4rem; font-family: 'Raleway'; margin: 0 auto; }
#logo .logo_year P span { font-size: 1.8rem; font-family: 'Yeseva One'; }

#logo .year li:hover .logo_year { opacity: 1; }


@media (max-width:1370px){
    #logo .year_all { width: 100%; }
    
}

@media (max-width:1200px){
    #logo { padding: 50px 0; }
}

@media (max-width:768px){
    #logo .year li { width: calc((100% - 20px)/2); }
}

@media (max-width:540px){
    #logo .year li { width: calc((100% - 10px)/2); }
    #logo .logo_year P { font-size: 1.2rem; }
#logo .logo_year P span { font-size: 1.4rem; }
}

/* footer */
#footer .line { width: 100%; height: 1px; background: #6F6F6F; }
#footer .inner { display: flex; justify-content: space-between; }
#footer .footer_txt { padding: 100px 150px; width: 50%; }
#footer .name { font-size: 2.0rem; font-weight: 700;  padding-bottom: 30px; } 
#footer .name a { transition: color 0.5s; }
#footer .name a:hover { color: #FF8605; }
#footer .mail_1 { font-size: 2.4rem; font-weight: 700; font-family: 'Yeseva One';  padding-bottom: 10px;}
#footer .mail_2 { font-size: 1.6rem; font-family: 'Yeseva One'; color: #999999; padding-bottom: 20px; }
#footer i { font-size: 3.0rem; padding-right: 15px; transition: color 0.5s; }
#footer i:hover { color: #FF8605; }

#footer .footer_menu { width: 50%; padding: 100px 0; }
#footer p { font-family:'Yeseva One'; font-size: 2.0rem; padding-bottom: 30px;} 
#footer li a { display: block; padding-bottom: 20px; font-family: 'Yeseva One'; transition: color 0.5s; }

#footer li:hover a { color: #FF8605; }

#footer .copy { border-top: 1px solid #6F6F6F; padding: 50px; text-align: center; font-family: 'Yeseva One'; color: #999; }


@media (max-width:1230px){
    #footer .footer_txt { padding: 100px 100px; width: 50%; }
    #footer .name { font-size: 1.6rem; }
    #footer .mail_1 { font-size: 2.0rem; }
    #footer .mail_2 { font-size: 1.4rem; }
    #footer .copy { font-size: 1.4rem ; }
    #footer p { font-size: 1.6rem; } 
    #footer li a { font-size: 1.4rem; }
}

@media (max-width:910px){
    #footer .footer_txt { padding: 80px 50px; }
    #footer .name { font-size: 1.4rem; }
    #footer .mail_1 { font-size: 1.8rem; }
    #footer .mail_2 { font-size: 1.2rem; }
    #footer .copy { font-size: 1.2rem ; }

    #footer .footer_menu { padding: 80px 0; }

}

@media (max-width:768px){
    #footer .footer_txt { padding: 80px 50px 80px 0; }
    #footer p { font-size: 1.8rem; padding-bottom: 30px;} 

}

@media (max-width:510px){
    #footer .footer_txt { padding: 80px 20px 80px 0; width: 60%; }
    #footer .footer_menu { width: 40%; }

}

@media (max-width:375px){
    #footer .footer_txt { width: 70%; }
    #footer .footer_menu { width: 30%; }

}
